{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
<main class="content-wrapper">
        <div class="container">
{% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
</div>
</main>
{% endblock fos_user_content %}
