<div class="light b-t">
    <div id="primary" class="content-area"
         data-bg-possition="center"
         data-bg-repeat="false"
         style="background: url('/bundles/assets/img/icon/icon-circles.png');">
        <main id="main" class="site-main" role="main">
            <div class="container">
                <div class="col-xl-8 mx-lg-auto p-t-b-80">
                        <header class="text-center">
                            <h1>Przypominanie Hasła</h1>
                            <p class="section-subtitle">Wprowadz adres e-mail a my wyślemy ci nowe hasło.</p>
                            <img class="p-t-b-50" src="/bundles/assets/img/icon/icon-login.png" alt="">
                        </header>
                        <form>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-lg"
                                               placeholder="Adres E-mail">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">
                                    <p class="forget-pass">Wyślij mi link do zmiany hasła</p>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
        </main>
        <!-- #main -->
    </div>
    <!-- #primary -->
</div>