<div class="light b-t">
    <div id="primary" class="content-area"
         data-bg-possition="center"
         data-bg-repeat="false"
         style="background: url('/bundles/assets/img/icon/icon-circles.png');">
        <main id="main" class="site-main">
            <div class="container">
                <div class="col-xl-8 mx-lg-auto p-t-b-80">
                    <header class="text-center">
                        <h1>Tworzenie Nowego Kontat</h1>
                        <p>Dołącz do naszej strony</p>
                        <img class="p-t-b-50" src="/bundles/assets/img/icon/icon-join.png" alt="">
                    </header>
                    <form action="" method="POST">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="first_name" class="form-control form-control-lg" placeholder="Imie">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="_username" class="form-control form-control-lg" placeholder="Nick">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="text" name="email" class="form-control form-control-lg" placeholder="E-mail">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="_password" class="form-control form-control-lg" placeholder="Hasło">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg"
                                           placeholder="Powtórz Hasło" name="_password">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Załóż Konto">
                                <p class="forget-pass">Dostaniesz E-mail z potwierdzeniem założenia konta</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <!-- #main -->
    </div>
    <!-- #primary -->
</div>